@font-face {
    font-family: 'Cooper Hewitt';
    src: url('/css/fonts/CooperHewitt-Light.eot');
    src: url('/css/fonts/CooperHewitt-Light.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/CooperHewitt-Light.woff2') format('woff2'),
        url('/css/fonts/CooperHewitt-Light.woff') format('woff'),
        url('/css/fonts/CooperHewitt-Light.svg#CooperHewitt-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


body {
    font-family:'CooperHewitt-Light', 'Arial', 'Sans-Serif';
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'CooperHewitt-Light', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'CooperHewitt-Light', 'Arial', 'Sans-Serif';
}
p {
    font-family:'CooperHewitt-Light', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
